@font-face {
    font-family: PassportRegular;
    src: url("../rpg-character-sheet/fonts/passport_regular.ttf");
}

@keyframes rollDice {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes progress {
    from {width: 1%;}
    to {width: 100%;}
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: PassportRegular;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

h1 {
    margin: 35px;
    text-align: center;
}

h3 {
    margin: 10px 0px 0px;
}

img {
    width: 100%;
    height: 100%;
    margin: 0px 30px;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 70%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.personal-details {
    width: 40%;
    height: auto;
    padding: 20px 20px 15px 20px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 20px;
}

.title {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

input.inputs, select.inputs {
    width: 100%;
    padding: 4px;
    border: none;
    border-bottom: 1px solid white;
    background-color: black;
    color: white;
    font-size: monospace;
}

.character {
    width: 40%;
    height: auto;
}

.character-header {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-image {
    border: 1px solid white;
    border-radius: 50%;
}

.dice-image {
    margin-left: 15%;
    animation: rollDice 3s;
}

#life, #sanity, #occultism {
    width: 100%;
    background-color: gray;
    border: 1px solid rgb(58, 57, 57);
    border-radius: 7px;
}

#actual-life {
    width: 1%;
    height: 20px;
    background-color: rgb(151, 17, 17);
    animation: progress 3s;
    border: 1px solid transparent;
    border-radius: 7px;
}

#actual-sanity {
    width: 1%;
    height: 20px;
    background-color: rgb(8, 8, 204);
    animation: progress 3s;
    border: 1px solid transparent;
    border-radius: 7px;
}

#actual-occultism {
    width: 1%;
    height: 20px;
    background-color: rgb(65, 8, 65);
    animation: progress 3s;
    border: 1px solid transparent;
    border-radius: 7px;
}