@font-face {
    font-family: PassportRegular;
    src: url("../rpg-character-sheet/fonts/passport_regular.ttf");
}

@keyframes rollDice {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: PassportRegular;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

h1 {
    margin: 35px;
    text-align: center;
}

h3 {
    margin: 10px 0px 0px;
}

img {
    width: 100%;
    height: 100%;
    margin: 0px 30px;
}


input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

.container {
    max-width: 70%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.float {
    float: left;
}

.personal-details {
    width: 40%;
    height: auto;
    margin: 0px 5%;
    padding: 20px 20px 15px 20px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 12px;
}

.title {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

input.inputs, select.inputs {
    width: 100%;
    padding: 4px;
    border: none;
    border-bottom: 1px solid white;
    background-color: black;
    color: white;
    font-size: monospace;
}

.character {
    width: 40%;
    height: auto;
    margin-top: 20px;
}

.character-header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-image {
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 15%;
}

.dice-image {
    margin-left: 15%;
    animation: rollDice 3s;
}